<mat-card-actions style="width: 100%;">
  <!--Table-->
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let element">
        <div mat-line>
          <mat-icon mat-list-icon>type_specimen</mat-icon>
          {{element.name}} </div>
      </td>
    </ng-container>

    <!-- color Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by color">
        Color
      </th>
      <td mat-cell *matCellDef="let element">
        <div mat-line>
          <span [style.background-color]="element.color" style="height: 1.5em; width: 1.5em; border-radius: 50%; display: inline-block;"></span>
          {{element.color}} </div>
      </td>
    </ng-container>

    <!-- keyword Column -->
    <ng-container matColumnDef="keywords">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by keyword">
        Keywords
      </th>
      <td mat-cell *matCellDef="let element">
        <div mat-line>
          <mat-icon mat-list-icon>type_specimen</mat-icon>
          {{element.nameCategories}} </div>
      </td>
    </ng-container>

    <!-- remove Column -->
    <ng-container matColumnDef="operation" style="width: 2em; position: absolute; right: 0;">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by remove">
        Operations
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matSuffix (click)="openDialogEdit(element)">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button matSuffix color="warn" type="submit" (click)="removeElement(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 pageSize="20"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</mat-card-actions>
