div(id='mainImage')
  div(id="imageText")
    |INTERAKTYWNA WYPOŻYCZALNIA ROWERÓW
    div
      a(href='/client/rent' class='btn btn-primary btn-lg') Wypożycz
  div(id='imageShadow')
a(name='content')