<mat-card-actions style="width: 100%;">
  <!--Filters-->
  <form [formGroup]="filters">
    <mat-form-field appearance="fill" style="margin: 1em;">
      <mat-label>
        <mat-icon>account_balance_wallet</mat-icon>
        Wallet
      </mat-label>
      <mat-select id="wallet" formControlName="wallet">
        <mat-option *ngFor="let item of _wallets" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
      <mat-hint align="end" (click)="clearFilter('wallet')">clear filter</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always" style="margin: 1em;">
      <mat-label>Min Amount</mat-label>
      <input matInput type="number" formControlName="minAmount" id="minAmount" class="example-right-align"
             placeholder="0">
      <span matPrefix>PLN</span>
      <span matSuffix>.00</span>
      <mat-hint align="end" (click)="clearFilter('minAmount')">clear filter</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always" style="margin: 1em;">
      <mat-label>Max Amount</mat-label>
      <input matInput type="number" formControlName="maxAmount" id="maxAmount" class="example-right-align"
             placeholder="0">
      <span matPrefix>PLN</span>
      <span matSuffix>.00</span>
      <mat-hint align="end" (click)="clearFilter('maxAmount')">clear filter</mat-hint>
    </mat-form-field>
  </form>

  <!--Table-->
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">

    <!-- wallet Column -->
    <ng-container matColumnDef="wallet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Wallet Name
      </th>
      <td mat-cell *matCellDef="let element" (click)="openWeb(element, 'wallet')">
        <div mat-line>
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
          {{element?.name}} </div>
      </td>
    </ng-container>

    <!-- amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amount">
        Amount
      </th>
      <td mat-cell *matCellDef="let element">
        <div mat-line>
          <mat-icon mat-list-icon>money</mat-icon>
          {{element?.amount}} PLN
        </div>
      </td>
    </ng-container>

    <!-- operation Column -->
    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by operation">
        Operation
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matSuffix (click)="openDialogEdit(element)">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button matSuffix color="warn" type="submit" (click)="removeWallet(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 pageSize="20"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</mat-card-actions>
